<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VmInstallPath" value="C:\Program Files\VisionMaster4.2.0" />
    <add key="SolFilePath" value="D:\xcm\ApplicationDemo\OCRDemoCs\OCRDemoChinese.sol" />
    <add key="OkImageDir" value="D:\Images\OK" />
    <add key="NgImageDir" value="D:\Images\NG" />
  </appSettings>
</configuration>