<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VmInstallPath" value="C:\Program Files\VisionMaster4.2.0" />
    <add key="LocalLibsPath" value="libs" />
    <add key="SolFilePath" value="D:\xcm\ApplicationDemo\OCRDemoCs\OCRDemoChinese.sol" />
    <add key="OkImageDir" value="D:\Images\OK" />
    <add key="NgImageDir" value="D:\Images\NG" />
    <add key="SystemLogoPath" value="Resources/logo.png" />
    <add key="SystemName" value="Triple Detection" />
    <add key="NavRailExpanded" value="true" />
  </appSettings>
</configuration>